 #about * {
     text-align: center;
 }


 .img-container-ella{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .img-ella{
    border-radius: 25px;
    width: 300px;
    height: 450px;
 }

 .carousel-item img {
     width: 500px;
     height: 300px;
 }


 .flex-card-family {
     display: flex;
     justify-content: center;
     width: 100%;
     flex-wrap: wrap;
 }


 .dash-image-container {
     display: flex;
     flex-direction: column;
     width: 300px;
     position: relative;
     padding: 10px;
 }

 .foto-fam {
     position: relative;
     width: 250px;
     height: 300px;
     margin: 5px;
     border-radius: 5px;
 }

 .foto-fam img {
     width: 100%;
     height: 100%;
 }


 .dash-image-container canvas {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9;
     background: #fff;
     mix-blend-mode: screen;
 }

 .body-family {
     margin-top: 5px;
     color: #fff;
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }


 @media (min-width: 1000px) {
     .carousel-item img {
         width: 800px;
         height: 500px;
     }
 }

 @media (max-width: 600px) {
     .carousel-item img {
         width: 250px;
         height: 300px;
     }
 }